#app{
    width: calc(100% - 20px);
    max-width: 600px;
    margin: 10px auto 0 auto;
}

/*@-webkit-keyframes componentIn {
    from{ opacity: 0; top: 20px; }
    to{ opacity: 1; top: 0; }
}

@keyframes componentIn {
    from{ opacity: 0; top: 20px; }
    to{ opacity: 1; top: 0; }
}

#container > *{

    position: relative;
    top: 20px;

    opacity: 0;
    -webkit-animation: componentIn .5s .1s forwards;
            animation: componentIn .5s .1s forwards;

}
*/
