*{
    margin: 0 auto;
    padding: 0;
}

html, body{
    height: 100%;
}

body{
    min-height: 100%;
    background: #f6f6f6;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
